:root {
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);
}

body {
  margin: 0;
  font-family: "Roboto";
  background: var(--neutral-700);
  color: var(--neutral-100);
  padding: 5rem;
}

.formulario {
  background: var(--neutral-800);
  padding: 2rem;
  border-radius: 2rem;
}

.formulario button {
  border: 2px solid var(--red-400);
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: bold;
  background-color: transparent;
  color: var(--red-400);
  cursor: pointer;
  transition: all 0.3s;
}

.formulario button:hover {
  color: var(--neutral-0);
  background-color: var(--red-400);
}

.row-group {
  display: flex;
  padding: 1rem 0;
  gap: 2rem;
}

.row-group label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 0.3rem;
}

.row-group input {
  background-color: var(--neutral-600);
  border: none;
  border-radius: 0.5rem;
  color: var(--neutral-0);
  padding: 0.5rem;
  font-weight: bold;
  width: 100%;
}

table {
  margin-top: 1rem;
  background: var(--neutral-800);
  width: 100%;
}

thead {
  background-color: var(--neutral-900);
}

th {
  padding: 0.5rem 1rem;
}

td {
  text-align: center;
  background-color: var(--neutral-600);
  padding: 0.3rem 0.5rem;
}

.txt-left {
  text-align: left;
}
